$hr: rgb(100, 100, 100);
$basic_font_size: max(2.2vmin, 90%);

@mixin headfoot_style {
    left: 2em;
    position: relative;
    width: 92%;
}

@mixin grid_input {
    border-radius: 5%;
    border: 1.5px black solid;
    justify-self: right;
    left: 1em;
    position: relative;
    width: 80%;
}